# don't upload confidential data
raw_data/*.csv
processed_data/*.dta

# don't upload figures/tables
#output_figures_tables/

# don't upload temporary tex files
written/*.aux
written/*.gz
written/*.out
written/*.txt
written/*.log
written/*.bbl
written/*.blg